{% extends "base.html" %}
{% block content %}
<h2>{{ job.title }}</h2>
<p>{{ job.description }}</p>
<p>Budget: ${{ job.budget }}</p>
<p>Status: {{ job.status }}</p>

{% if current_user.role == "Student" %}
<h3>Apply for this Job</h3>
<form method="post">
  <textarea name="cover_letter" placeholder="Your cover letter"></textarea><br>
  <button type="submit">Apply</button>
</form>
{% endif %}

<h3>Applications ds</h3>
<ul>
  {% for app in applications %}
    <li>
      {{ app.student.username }} - {{ app.status }}
      {% if current_user.role == "Client" and job.client_id == current_user.id and job.status == "open" %}
        <form method="post" action="{{ url_for('client.assign_application', app_id=app.id) }}">
    <button type="submit">Accept</button>
</form>

      {% endif %}
    </li>
    <a class="btn btn-sm btn-info float-end" href="{{ url_for('student.portfolio', student_id=p.student.id) }}">View Portfolio</a>
  {% else %}
    <li>No applications yet</li>
  {% endfor %}
</ul>

{% endblock %}
